<div class="row">
    <div class="col-xs-12">
      <h3 *ngIf="!editMode">Add a New Recipe: </h3>
      <h3 *ngIf="editMode">Edit Recipe: </h3>
      <hr />
      <form>
        <div class="row">

          <div class="form-group">
              <label for="id">ID</label>
              <input type="number" name="id" class="form-control" [(ngModel)]="id" required>
          </div>
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name="name" class="form-control" [(ngModel)]="name" required>
          </div>
          <div class="form-group">
              <label for="description">Description</label>
              <textarea name="description" class="form-control" [(ngModel)]="description" required></textarea>
          </div>
          <div class="form-group">
              <label for="img">Image Path</label>
              <input type="text" name="img" class="form-control" [(ngModel)]="imgpath" required>
          </div>
          <div class="form-group">
              <label for="ingredients">Ingredients</label>
              <input type="text" name="ingredients" class="form-control">
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <button class="btn btn-success" type="button">Submit</button>
            <button class="btn btn-primary" type="button">Clear</button>
          </div>
        </div>
      </form>
    </div>
  </div>
